
@{
    ViewBag.Title = "CreateNewCategory";
    Layout = "~/Views/Shared/_LayoutStockManagement.cshtml";
}
<script src="~/Content/js/Stock/Category/CreateNewCategoryCtrl.js"></script>
<div ng-app="myApp" ng-controller="CreateNewCategoryCtrl" style="display:inline-block;width:100%;">
    <input type="hidden" id="username" name="username" value="@Session["username"]" />
    <input type="hidden" id="fullname" name="fullname" value="@Session["fullname"]" />
    <input type="hidden" id="role" name="role" value="@Session["role"]" />

    <div id="notification" class="col-md-12"></div>
    <br />
    <section class="section">
        <h4 class="card-title text-center">Danh mục mới</h4>
        <form class="row">
            <div>
                <h5 class="card-title">Thông tin chung</h5>
                <div class="row mb-3" style="display:flex">
                    <div class="col-md-6">
                        <label class=" col-form-label" for="inputName5">Mã danh mục <span style="color:red">*</span></label>
                        <div>
                            <input type="text" class="form-control" ng-model="NewCategory.category_code">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label">Tên danh mục <span style="color:red">*</span></label>
                        <div>
                            <input type="text" class="form-control" ng-model="NewCategory.category_name">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class=" col-form-label">Mô tả danh mục</label>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Mô tả danh mục" ng-model="NewCategory.desciption"></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class=" col-form-label">Level <span style="color:red">*</span></label>
                        <div>
                            <select ng-model="NewCategory.category_level" 
                                    ng-change="LoadListParentCategories(NewCategory.category_level)" 
                                    class="form-control"
                                     ng-init="NewCategory.category_level=1">
                                <option value="1" selected>Level 1</option>
                                <option value="2"> Level2</option>
                                <option value="3">Level 3</option>
                                <option value="4">Level4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class=" col-form-label">Danh mục cha</label>
                        <div>
                            <select ng-disabled="NewCategory.category_level==1" class="form-control" ng-model="NewCategory.category_parent_id">
                                <option value="{{item.category_id}}" ng-repeat="item in ListParentCategories">{{item.category_code}}: {{item.category_name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                    </div>
            <div>
                <h4 class="card-title">Danh sách thiết bị</h4>
                <div class="card">
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Mã thiết bị</th>
                                    <th scope="col">Tên thiết bị</th>
                                    <th scope="col">Số lượng thiết bị</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListEquipInCategory">
                                    <th scope="row">{{$index+1}}</th>
                                    <td>
                                        <ng-form>
                                            <div class="form-equip">
                                                <input type="text" style="color:black" class="form-control input-form" autocomplete="off" ng-model="item.standard_equipment_code" ng-change="LoadStandardEquipmentsList(item.standard_equipment_code)" ng-focus="showtableEquip = true" ng-blur="showtableEquip = false" ng-model-options="{debounce:700}" required>
                                            </div>

                                            <div class="input-group-btn" style="position:relative;width:100%;display:inline-block">
                                                <div class="dropdown-menu dropdown-menu-center borderRadius0 padding0" style="display: block;max-height: 400px;overflow:auto;position:absolute;width:100%" ng-show="showtableEquip">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead class="bg-blue text-white">
                                                                <tr>
                                                                    <th>Mã chuẩn</th>
                                                                    <th>Tên thiết bị</th>
                                                                    <th>Số lượng thiết bị</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr style="cursor:pointer" ng-mousedown="HandelEquip(eq, item);" ng-repeat="eq in ListEquips">
                                                                    <td>{{eq.standard_equipment_code}}</td>
                                                                    <td>{{eq.equipment_name}}</td>
                                                                    <td>{{eq.number_equip}}</td>

                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </ng-form>

                                    </td>
                                    <td><input type="text" ng-model="item.equipment_name" class="form-control" readonly></td>
                                    <td><input type="text" ng-model="item.number_equip" class="form-control" readonly></td>
                                    <td><button class="btn btn-danger" ng-click="DeleteEquip(ListEquipInCategory,$index)">Delete</button></td>
                                <tr>

                                <tr>
                                    <th scope="row" colspan="4" ng-click="HandleNewEquipInCategory(ListEquipInCategory)" class="text-center">Thêm thiết bị mới</th>
                                <tr>
                            </tbody>
                        </table>

                    </div>
                   
                    <div style="display: flex; justify-content: center; align-items: center;" class="mb-3">
                        <button type="button" class="btn btn-primary ms-2" ng-click="ValidateDataInput(NewCategory)">Tạo danh mục</button>
                    </div>
                </div>
            </div>

        </form>
    </section>
</div>
