
@{
    ViewBag.Title = "MemberDetails";
    Layout = "~/Views/Shared/_LayoutHumanResourceManagement.cshtml";
}

<div class="modal fade" id="user-details" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="width:1500px; margin-left:-400px;">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin chi tiết</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div id="notification" class="col-md-12"></div>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Thông tin chi tiết</a>
                        <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Đổi mật khẩu</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">

                            <div>
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Ảnh đại diện</h4>



                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Thông tin cá nhân</h4>
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label for="inputName5" class="form-label">Họ và tên</label>
                                                <input type="text" class="form-control" ng-model="DetailMember.fullname" disabled>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputDob5" class="form-label">Ngày sinh</label>
                                                <input type="text" id="dateOfBirth" autocomplete="off" datepicker ng-model="DetailMember.date_of_birth| date: 'dd/MM/yyyy'" class="form-control input-form">
                                            </div>
                                            <script>
                                                $("#dateOfBirth").datetimepicker({ format: 'DD/MM/YYYY', useCurrent: false, stepping: 5, sideBySide: true });
                                            </script>
                                            <div class="col-md-6">
                                                <label for="inputMemCode5" class="form-label">Mã nhân viên</label>
                                                <input type="text" class="form-control" ng-model="DetailMember.user_code" readonly>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inputGender" class="form-label">Giới tính</label>
                                                <select id="inputGender" class="form-select" ng-model="DetailMember.gender">
                                                    <option value="1">Nam</option>
                                                    <option value="0">Nữ</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Thông tin liên lạc</h4>
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <label for="inputPhoneNumber" class="form-label">Số điện thoại</label>
                                            <input type="text" class="form-control" ng-model="DetailMember.hotline">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputEmail" class="form-label">Địa chỉ Email</label>
                                            <input type="text" class="form-control" ng-model="DetailMember.email">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputEmail" class="form-label">Địa chỉ</label>
                                            <input type="text" class="form-control" ng-model="DetailMember.address">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Thông tin công việc</h4>
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <label for="inputDateAssign" class="form-label">Ngày ký hợp đồng</label>
                                            <input type="text" id="hireDate" class="form-control" ng-model="DetailMember.hire_date|date: 'dd/MM/yyyy'">
                                            <script>
                                                $("#hireDate").datetimepicker({ format: 'DD/MM/YYYY', useCurrent: false, stepping: 5, sideBySide: true });
                                            </script>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputDuration" class="form-label">Thời hạn hợp đồng</label>
                                            <input type="text" class="form-control" ng-model="DetailMember.work_term">
                                        </div>

                                        <div class="col-md-6">
                                            <label for="inputPosition" class="form-label">Vị trí công việc</label>
                                            <select ng-model="DetailMember.role_code" class="form-control">
                                                <option ng-repeat="item in ListRoles" value="{{item.role_code}}">{{item.role_name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputExperience" class="form-label">Kinh nghiệm</label>
                                            <input type="text" class="form-control" ng-model="DetailMember.skill">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputJD" class="form-label">Mô tả công việc</label>
                                            <input type="text" class="form-control" ng-model="DetailMember.job_description">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputJD" class="form-label">Admin</label>
                                            <input type="checkbox" ng-model="DetailMember.is_admin" ng-checked="DetailMember.is_admin">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" ng-click="ValidateDataInput(DetailMember)">Cập nhật</button>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Thay đổi mật khẩu</h4>
                                    <form class="row g-3">
                                        <div class="row g-3">
                                            <div class="col-md-4">
                                                <label for="inputOldPass" class="form-label">Mật khẩu cũ</label>
                                                <input type="password" class="form-control" ng-model="inputOldPass">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="inputNewPass" class="form-label">Mật khẩu mới</label>
                                                <input type="password" class="form-control" ng-model="inputNewPass">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="inputReNewPass" class="form-label">Nhập lại mật khẩu mới</label>
                                                <input type="password" class="form-control" ng-model="inputReNewPass">
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-primary" ng-click="ChangePassword(DetailMember)">Thay đổi mật khẩu</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


