
@{
    ViewBag.Title = "MemberDetails";
    Layout = "~/Views/Shared/_LayoutHumanResourceManagement.cshtml";
}

<div class="modal fade" id="user-details" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content"  style="width:1500px; margin-left:-400px;">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin chi tiết</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <section class="section">
                    <div class="row">
                        <div class="row">
                            <button type="submit" class="btn btn-primary col-md-3">Chỉnh sửa</button>
                        </div>
                        <div>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Ảnh đại diện</h4>



                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Thông tin cá nhân</h4>
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <label for="inputName5" class="form-label">Họ và tên</label>
                                            <input type="text" class="form-control" ng-model="DetailMember.fullname" disabled>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputDob5" class="form-label">Ngày sinh</label>{{DetailMember.date_of_birth| date: 'dd/MM/yyyy'}}
                                            <input type="text" id="dateOfBirth" autocomplete="off" datepicker ng-model="DetailMember.date_of_birth"class="form-control input-form">
                                        </div>
                                        <script>
                                            $("#dateOfBirth").datetimepicker({ format: 'DD/MM/YYYY', useCurrent: false, stepping: 5, sideBySide: true });
                                        </script>
                                    </div>
                                        <div class="col-md-6">
                                            <label for="inputMemCode5" class="form-label">Mã nhân viên</label>
                                            <input type="password" class="form-control" ng-model="DetailMember.member_code">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputGender" class="form-label">Giới tính</label>
                                            <select id="inputGender" class="form-select" ng-model="DetailMember.gender">
                                                <option value="1">Nam</option>
                                                <option value="0">Nữ</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Thông tin liên lạc</h4>
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <label for="inputPhoneNumber" class="form-label">Số điện thoại</label>
                                            <input type="text" class="form-control" ng-model="DetailMember.hotline">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputEmail" class="form-label">Địa chỉ Email</label>
                                            <input type="text" class="form-control" ng-model="DetailMember.email">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Thông tin công việc</h4>
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <label for="inputDateAssign" class="form-label">Ngày ký hợp đồng</label>
                                            <input type="date" class="form-control" ng-model="DetailMember.resignation_date">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputDuration" class="form-label">Thời hạn hợp đồng</label>
                                            <input type="text" class="form-control" ng-model="DetailMember.work_term">
                                        </div>
                                       
                                        <div class="col-md-6">
                                            <label for="inputPosition" class="form-label">Vị trí công việc</label>
                                            <input type="text" class="form-control" ng-model="DetailMember.position_code">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputExperience" class="form-label">Kinh nghiệm</label>
                                            <input type="text" class="form-control" ng-model="DetailMember.skill">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputJD" class="form-label">Mô tả công việc</label>
                                            <input type="text" class="form-control" ng-model="DetailMember.job_description">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Thay đổi mật khẩu</h4>
                                    <form class="row g-3">
                                        <div class="row g-3">
                                            <div class="col-md-4">
                                                <label for="inputOldPass" class="form-label">Mật khẩu cũ</label>
                                                <input type="text" class="form-control" id="inputOldPass">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="inputNewPass" class="form-label">Mật khẩu mới</label>
                                                <input type="text" class="form-control" id="inputNewPass">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="inputReNewPass" class="form-label">Nhập lại mật khẩu mới</label>
                                                <input type="text" class="form-control" id="inputReNewPass">
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-primary">Thay đổi mật khẩu</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

