
@{
    ViewBag.Title = "CreateNewProject";
    Layout = "~/Views/Shared/_LayoutLabDirector.cshtml";
}
<script src="~/Content/js/LabDicrector/Project/CreateNewProjectCtrl.js"></script>
<div ng-app="myApp" ng-controller="CreateNewProjectCtrl" style="display:inline-block;width:100%;">
    <section class="section">
        <form class="row g-3">
            <div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Thêm dự án mới</h4>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="projectName" class="form-label">Tên dự án</label>
                                <input type="text" class="form-control" ng-model="NewProject.project_name">
                            </div>
                            <div class="col-md-6">
                                <label for="projectGido" class="form-label">Viết tắt</label>
                                <input type="text" class="form-control" ng-model="NewProject.acronym">
                            </div>
                            <div class="col-md-12">
                                <label for="projectDescription" class="form-label">Mô tả dự án</label>
                                <textarea type="text" class="form-control" ng-model="NewProject.description"></textarea>
                            </div>
                            <div class="col-md-6">
                                <label for="projectRefer" class="form-label">Phòng LAB sử dụng</label>
                                <select ng-model="NewProject.location_id" ng-disabled="check" class="form-control">
                                    <option ng-repeat="item in ListLocations" value="{{item.location_id}}">{{item.location_code}},{{item.location_desciption}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="projectManager" class="form-label">Người quản lý</label>
                                <ng-form>
                                    <div class="form-member">
                                        <input type="text" style="color:black" class="form-control input-form" autocomplete="off" ng-model="text" ng-change="LoadMembersList(text)" ng-focus="showtableMB = true" ng-blur="showtableMB = false" ng-model-options="{debounce:700}" required>
                                        <input type="text" class="form-control" ng-model="NewProject.manager" style="display:none">
                                    </div>

                                    <div class="input-group-btn" style="position:relative;width:100%;display:inline-block">
                                        <div class="dropdown-menu dropdown-menu-center borderRadius0 padding0" style="display: block;max-height: 400px;overflow:auto;position:absolute;width:100%" ng-show="showtableMB">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class="bg-blue text-white">
                                                        <tr>
                                                            <th>Họ tên</th>
                                                            <th>Chức vụ</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr style="cursor:pointer" ng-mousedown="HandelMember(mb, NewProject);" ng-repeat="mb in ListMembers">
                                                            <td>
                                                                {{mb.fullname}}
                                                            </td>
                                                            <td>{{mb.role_name}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </ng-form>
                            </div>
                            <div class="col-md-6">
                                <label for="projectStartDate" class="form-label">Ngày bắt đầu</label>
                                <input type="text" id="startDate" class="form-control" ng-model="NewProject.start_date">
                                <script>
                                    $("#startDate").datetimepicker({ format: 'DD/MM/YYYY', useCurrent: false, stepping: 5, sideBySide: true });
                                </script>
                            </div>
                            <div class="col-md-6">
                                <label for="projectEndDate" class="form-label">Ngày kết thúc</label>
                                <input type="text" id="endDate" class="form-control" ng-model="NewProject.end_date">
                                <script>
                                    $("#endDate").datetimepicker({ format: 'DD/MM/YYYY', useCurrent: false, stepping: 5, sideBySide: true });
                                </script>
                            </div>

                            <div>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="member-tab" data-bs-toggle="tab"
                                                data-bs-target="#member" type="button" role="tab" aria-controls="home"
                                                aria-selected="true">
                                            Members
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="equipment-tab" data-bs-toggle="tab"
                                                data-bs-target="#equipment" type="button" role="tab"
                                                aria-controls="equipment" aria-selected="false">
                                            Equipments
                                        </button>
                                    </li>
                                    @*<li class="nav-item" role="presentation">
                                        <button class="nav-link" id="cost-tab" data-bs-toggle="tab"
                                                data-bs-target="#cost" type="button" role="tab" aria-controls="cost"
                                                aria-selected="false">
                                            Chi phí
                                        </button>
                                    </li>*@
                                </ul>
                                <div class="tab-content pt-2" id="myTabContent">
                                    <div class="tab-pane fade show active" id="member" role="tabpanel"
                                         aria-labelledby="member-tab">
                                        <table class="table ">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Mã nhân viên</th>
                                                    <th scope="col">Họ và Tên</th>
                                                    <th scope="col">Trạng thái</th>
                                                    <th scope="col">Ghi chú</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListMembersJoinProject">
                                                    <td>
                                                        <ng-form>
                                                            <div class="form-member-project">
                                                                <input type="text" style="color:black" class="form-control input-form" autocomplete="off" ng-model="item.text" ng-change="LoadMembersList(text)" ng-focus="showtableMBPj = true" ng-blur="showtableMBPj = false" ng-model-options="{debounce:700}" required>
                                                                <input type="text" class="form-control" ng-model="item.user_code" style="display:none">
                                                            </div>

                                                            <div class="input-group-btn" style="position:relative;width:100%;display:inline-block">
                                                                <div class="dropdown-menu dropdown-menu-center borderRadius0 padding0" style="display: block;max-height: 400px;overflow:auto;position:absolute;width:100%" ng-show="showtableMBPj">
                                                                    <div class="table-responsive">
                                                                        <table class="table">
                                                                            <thead class="bg-blue text-white">
                                                                                <tr>
                                                                                    <th>Mã thành viên</th>
                                                                                    <th>Họ tên</th>
                                                                                    <th>Chức vụ</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr style="cursor:pointer" ng-mousedown="HandelMemberJoinProject(mb, item);" ng-repeat="mb in ListMembers">
                                                                                    <td>
                                                                                        {{mb.user_code}}
                                                                                    </td>
                                                                                    <td>
                                                                                        {{mb.fullname}}
                                                                                    </td>
                                                                                    <td>{{mb.role_name}}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </ng-form>
                                                    </td>
                                                    <td><input ng-model="item.fullname" class="form-control" disabled /></td>
                                                    <td>
                                                        <select ng-model="item.status" class="form-control" disabled>
                                                            <option value="Đang tham gia" selected>Đang tham gia</option>
                                                            <option value="Đã rời dự án">Đã rời dự án</option>

                                                        </select>
                                                    </td>
                                                    <td><input ng-model="item.note" class="form-control" /></td>
                                                    <td><i class="fas fa-minus-circle" style="color: #c01616;" ng-click="DeleteMemberProject(ListMembersJoinProject,$index)"></i></td>

                                                </tr>
                                            </tbody>
                                            <tr>
                                                <td colspan="5" class="text-center" ng-click="HandleNewMember()">Thêm thành viên</td>
                                            </tr>
                                        </table>

                                    </div>
                                    <div class="tab-pane fade" id="equipment" role="tabpanel"
                                         aria-labelledby="equipment-tab">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Mã hệ thống</th>
                                                    <th scope="col">Mã thiết bị</th>
                                                    <th scope="col">Tên thiết bị</th>
                                                    <th scope="col">Đơn vị</th>
                                                    <th scope="col">Người chịu trách nhiệm</th>
                                                    <th scope="col">Trạng thái</th>
                                                    <th scope="col">Ghi chú</th>
                                                    <th scope="col">Tác vụ</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListEquipmentProject">
                                                    <td>
                                                        <ng-form>
                                                            <div class="form-member-project">
                                                                <input type="text" style="color:black" class="form-control input-form" autocomplete="off" ng-model="item.textEquip" ng-change="LoadEquipmentsList(textEquip)" ng-focus="showtableEquipPj = true" ng-blur="showtableEquipPj = false" ng-model-options="{debounce:700}" required>
                                                                <input type="text" class="form-control" ng-model="item.system_equipment_code" style="display:none">
                                                            </div>

                                                            <div class="input-group-btn" style="position:relative;width:100%;display:inline-block">
                                                                <div class="dropdown-menu dropdown-menu-center borderRadius0 padding0" style="display: block;max-height: 400px;overflow:auto;position:absolute;width:100%" ng-show="showtableEquipPj">
                                                                    <div class="table-responsive">
                                                                        <table class="table">
                                                                            <thead class="bg-blue text-white">
                                                                                <tr>
                                                                                    <th scope="col">Mã hệ thống </th>
                                                                                    <th scope="col">Mã chuẩn</th>
                                                                                    <th scope="col">Tên thiết bị</th>
                                                                                    <th scope="col">Đơn vị tính</th>
                                                                                    <th scope="col">Loại thiết bị</th>
                                                                                    <th scope="col">Nhóm thiết bị</th>
                                                                                    <th scope="col">Vị trí</th>
                                                                                    <th scope="col">Người chịu trách nhiệm quản lý</th>
                                                                                    <th scope="col">Trạng thái</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr style="cursor:pointer" ng-mousedown="HandelEquipJoinProject(eq, item);" ng-repeat="eq in ListEquips">
                                                                                    <td>{{eq.system_equipment_code}}</td>
                                                                                    <td>{{eq.standard_equipment_code}}</td>
                                                                                    <td>{{eq.equipment_name}}</td>
                                                                                    <td>{{eq.unit}}</td>
                                                                                    <td>{{eq.type_equipment}}</td>
                                                                                    <td>{{eq.category_name}}</td>
                                                                                    <td>{{eq.location_desciption}}</td>
                                                                                    <td>{{eq.responsibler}}</td>
                                                                                    <td>{{eq.usage_status}}</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </ng-form>
                                                    </td>
                                                    <td><input ng-model="item.standard_equipment_code" class="form-control" disabled /></td>
                                                    <td><input ng-model="item.equipment_name" class="form-control" disabled /></td>
                                                    <td><input ng-model="item.unit" class="form-control" disabled /></td>
                                                    <td><input ng-model="item.responsibler" class="form-control" disabled /></td>
                                                    <td><input ng-model="item.usage_status" class="form-control" disabled /></td>
                                                    <td><input ng-model="item.note" class="form-control" /></td>
                                                    <td><i class="fas fa-minus-circle" style="color: #c01616;" ng-click="DeleteEquipProject(ListEquipmentProject,$index)"></i></td>
                                                </tr>
                                                <tr><td colspan="8" class="text-center"><button type="button" class="btn btn-primary" ng-click="HandleNewEquip()">Thêm thiết bị</button></td></tr>
                                            </tbody>
                                        </table>
   
                                    </div>
                                    @*<div class="tab-pane fade" id="cost" role="tabpanel"
                                         aria-labelledby="cost-tab">
                                        Saepe animi et soluta ad odit soluta sunt. Nihil quos omnis animi debitis
                                        cumque. Accusantium quibusdam perspiciatis qui qui omnis magnam. Officiis
                                        accusamus impedit molestias nostrum veniam. Qui amet ipsum iure. Dignissimos
                                        fuga tempore dolor.
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary" ng-click="CreateNewProject(NewProject)">Thêm dự án mới</button>
            </div>

        </form>
    </section>
</div>

