
@{
    ViewBag.Title = "Danh sách dự án";
    Layout = "~/Views/Shared/_LayoutProjectManagement.cshtml";
}
<script src="~/Content/js/Project/ProjectListCtrl.js"></script>
<div ng-app="myApp" ng-controller="ProjectListCtrl">
    <section class="section">

        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Danh Sách Dự Án</h5>

                        <div class="row g-3">
                            <div class="col-md-3">
                                <a class="btn btn-primary" href="@Url.Action("CreateNewProject", "ProjectPortfolio")">Thêm dự án mới</a>
                            </div>
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary">Xuất file Excel</button>
                            </div>
                        </div>
                        <div>
                            <p></p>
                        </div>
                        <!-- Table with stripped rows -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Dự án</th>
                                    <th scope="col">Mã viết tắt</th>
                                    <th scope="col">Mã phòng lab</th>
                                    <th scope="col">Miêu tả</th>
                                    <th scope="col">Quản lý</th>
                                    <th scope="col">Thời gian</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Thông tin tạo</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListProject">
                                    <td>{{item.project_name}}</td>
                                    <td>{{item.acronym}}</td>
                                    <td>{{item.location_code}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.manager_name}}</td>
                                    <td>{{item.start_date|date:'dd/MM/yyyy'}} - {{item.end_date|date:'dd/MM/yyyy'}}</td>
                                    <td>{{item.status==1?'Đã hoàn thành':'Đang diễn ra'}}</td>
                                    <td>
                                        {{item.creater_name}} -{{item.create_date|date:'dd/MM/yyyy'}}
                                    </td>

                                    <td>
                                        <button class="btn btn-warning" data-toggle="modal"
                                                data-target="#suakhachhang" ng-click="GetKH(item)">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button class="btn btn-danger" ng-click="DeleteKH(item)">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                        <a class="btn btn-primary" data-bs-toggle="modal"
                                           data-bs-target="#user-details"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

