
@{
    ViewBag.Title = "ViewEquipmentDetails";
    Layout = "~/Views/Shared/_LayoutStockManagement.cshtml";
}

<div class="pagetitle">
    <!--Start Page Title-->
    <h1>Thông tin thiết bị</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">List of Equipments</li>
            <li class="breadcrumb-item active">View Equipment Details</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <h5 class="card-title">Thông tin thiết bị</h5>
                <button type="" class="btn btn-primary">Chỉnh sửa</button>
            </div>

            <!-- Multi Columns Form -->
            <form class="row g-3">
                <div class="col-md-4">
                    <label for="equipId" class="form-label">Mã Thiết bị</label>
                    <input type="text" class="form-control" id="equipId" disabled>
                </div>
                <div class="col-md-4">
                    <label for="equipName" class="form-label">Tên thiết bị</label>
                    <input type="email" class="form-control" id="equipName" disabled>
                </div>
                <div class="col-md-4">
                    <label for="equipQR" class="form-label">Mã QR</label>
                    <input type="" class="form-control" id="equipQR" disabled>
                </div>
                <div class="col-md-4">
                    <label for="equipSeri" class="form-label">Số Seri</label>
                    <input type="text" class="form-control" id="equipSeri" disabled>
                </div>
                <div class="col-md-4">
                    <label for="equipUnit" class="form-label">Đơn vị</label>
                    <select id="equipUnit" class="form-select" disabled>
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="equipGroup" class="form-label">Nhóm thiết bị</label>
                    <select id="equipGroup" class="form-select" disabled>
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="equipLocation" class="form-label">Vị trí</label>
                    <select id="equipLocation" class="form-select" disabled>
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="equipPrice" class="form-label">Giá</label>
                    <input type="text" class="form-control" id="equipPrice" disabled>
                </div>
                <div class="col-md-4">
                    <label for="dateOfEntry" class="form-label">Ngày nhập</label>
                    <input type="text" class="form-control" id="dateOfEntry" disabled>
                </div>
                <div class="col-md-4">
                    <label for="equipStatus" class="form-label">Trạng thái</label>
                    <input type="text" class="form-control" id="equipStatus" disabled>
                </div>
                <div class="col-md-4">
                    <label for="response" class="form-label">Người chịu trách nhiệm</label>
                    <input type="text" class="form-control" id="response" disabled>
                </div>
                <div class="col-md-8">
                    <label for="equipDetails" class="form-label">Thông số kỹ thuật</label>
                    <input type="text" class="form-control" id="dateOfEntry" disabled>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" disabled>Lưu</button>
                </div>
            </form><!-- End Multi Columns Form -->

        </div>
    </div>
</section>

