
@{
    ViewBag.Title = "Tạo mới yêu cầu kiểm kê";
    string layoutPath;

    switch ((string)Session["role"])
    {
        case "SM":
            layoutPath = "~/Views/Shared/_LayoutStockManagement.cshtml";
            break;
        case "LD":
            layoutPath = "~/Views/Shared/_LayoutLabDirector.cshtml";
            break;
        default:
            layoutPath = "~/Views/Shared/_LayoutProjectManagement.cshtml";
            break;
    }

    Layout = layoutPath;
}
<script src="~/Content/js/Stock/Inventory/CreateNewInventoryRequestCtrl.js"></script>
<div ng-app="myApp" ng-controller="CreateNewInventoryRequestCtrl">
    <input type="hidden" id="username" name="username" value="@Session["username"]" />
    <input type="hidden" id="fullname" name="fullname" value="@Session["fullname"]" />
    <input type="hidden" id="role" name="role" value="@Session["role"]" />
    <input type="hidden" id="isadmin" name="isadmin" value="@Session["isadmin"]" />
    <div id="notification" class="col-md-12"></div>
    <div class="card">

        <h5 class="card-title">Đơn yêu cầu kiểm kê mới</h5>

        <div class="row">
            <div class="col-6">
                <label class=" col-form-label">Người yêu cầu</label>
                <div>
                    <input type="text" class="form-control" ng-model="NewInventory.requesterSearch" readonly>
                </div>
            </div>

            <div class="col-6">
                <label class=" col-form-label">Người thực hiện <span style="color:red">*</span></label>
                <div>
                    <ng-form>
                        <div class="form-member">
                            <input type="text" style="color:black"
                                   placeholder="Tìm kiếm theo tên hoặc username của thành viên"
                                   class="form-control input-form" autocomplete="off" ng-model="performerSearch" ng-change="LoadMembersList(performerSearch)" ng-focus="showtableMB = true" ng-blur="showtableMB = false" ng-model-options="{debounce:700}" required>
                            <input type="text" class="form-control" ng-model="NewInventory.performer" style="display:none">
                        </div>

                        <div class="input-group-btn" style="position:relative;width:100%;display:inline-block">
                            <div class="dropdown-menu dropdown-menu-center borderRadius0 padding0" style="display: block;max-height: 400px;overflow:auto;position:absolute;width:100%" ng-show="showtableMB">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="bg-blue text-white">
                                            <tr>
                                                <th>Họ tên</th>
                                                <th>Chức vụ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="cursor:pointer" ng-mousedown="HandelMemberPerformer(mb, NewInventory);" ng-repeat="mb in ListMembers">
                                                <td>
                                                    {{mb.fullname }}
                                                </td>
                                                <td>{{mb.role_name }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </ng-form>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class=" col-form-label">Phòng Lab <span style="color:red">*</span></label>
                <div>
                    <select ng-model="NewInventory.location_id" class="form-control" ng-change="GetDetailLocation(NewInventory.location_id);">
                        <option ng-repeat="item in ListLocations" value="{{item.location_id}}">{{item.location_code}},{{item.location_desciption}}</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <label class=" col-form-label"></label>
                <div>
                    <button style="margin-top: 13px;" class="btn btn-primary" ng-click="AddAllEquipmentLocation()">Kiểm kê tất cả các thiết bị trong phòng LAB</button>

                </div>
            </div>
        </div>
        <div class="mt-5">
            <h4 class="card-title text-center mb-3">Thiết bị kiểm kê</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            # {{ListEquipmentInLocation.length}}
                        </th>
                        <th scope="col">Mã hệ thống</th>
                        <th scope="col">Mã chuẩn</th>
                        <th scope="col">Tên thiết bị</th>
                        <th scope="col">Tác vụ</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ListNewEquipmentInInventory">
                        <td scope="row">{{$index+1}}  </td>
                        <td scope="row">
                            <ng-form>
                                <div class="form-equip">
                                    <input type="text" style="color:black" class="form-control input-form" autocomplete="off" ng-model="item.system_equipment_code" ng-focus="showtableEquip = true" ng-blur="showtableEquip = false" required>
                                </div>

                                <div class="input-group-btn" style="position:relative;width:100%;display:inline-block">
                                    <div class="dropdown-menu dropdown-menu-center borderRadius0 padding0" style="display: block;max-height: 400px;overflow:auto;position:absolute;width:100%" ng-show="showtableEquip">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-blue text-white">
                                                    <tr>
                                                        <th>Mã hệ thống</th>
                                                        <th>Mã chuẩn</th>
                                                        <th>Tên thiết bị</th>
                                                        <th>
                                                            Tình trạng thiết bị
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="cursor:pointer" ng-mousedown="HandelEquip(eq, item);" ng-repeat="eq in ListEquipmentInLocation| filter:item.system_equipment_code">
                                                        <td>
                                                            {{eq.system_equipment_code}}
                                                        </td>
                                                        <td>{{eq.standard_equipment_code}}</td>
                                                        <td>{{eq.equipment_name}}</td>
                                                        <td>{{eq.usage_status}}</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </ng-form>
                        </td>
                        <td scope="row">
                            <input ng-model="item.standard_equipment_code" class="form-control" readonly />
                        </td>
                        <td scope="row">
                            <input ng-model="item.equipment_name" class="form-control" readonly />
                        </td>
                        <td>  <i class="fas fa-minus-circle" style="color: #c01616;" ng-click="DeleteNewEquipInInventory(ListNewEquipmentInInventory,$index)"></i></td>
                    </tr>
                    <tr><td colspan="5" ng-click="HandleNewEquipInInventory(ListNewEquipmentInInventory)" class="text-center">Thêm mới thiết bị</td></tr>

                </tbody>
            </table>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; ">
            <button type="button" class="btn btn-primary ms-2" ng-click="ValidateDataInput(NewInventory)">Tạo yêu cầu</button>
        </div>
    </div>

</div>
