
@{
    ViewBag.Title = "PerformInventoryEquipmentsRequest";
    Layout = "~/Views/Shared/_LayoutStockManagement.cshtml";
}


<section class="section">
    <h4 class="text-center">Thực hiện kiểm kê</h4>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item"><a>Thực hiện kiểm kê</a></li>
        </ol>
    </nav>
    <form class="mt-5">

        <div class="card-body">
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã hệ thống</th>
                        <th>Mã chuẩn</th>
                        <th>Tên thiết bị</th>
                        <th>Đơn vị tính</th>
                        <th>SerieNo</th>
                        <th>Loại thiết bị</th>
                        <th>Nhóm thiết bị</th>
                        <th>Vị trí</th>
                        <th>Trạng thái</th>
                        <th>Ngày yêu cầu</th>
                        <th>Đã thực hiện</th>
                        <th>Tình trạng thực tế</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th></th>
                        <td>
                            <input placeholder="Search..." style="width:90%">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input class="form-check-input ms-2" type="checkbox" value="" id="flexCheckDefault"></td>
                        <td><textarea></textarea></td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input class="form-check-input ms-2" type="checkbox" value="" id="flexCheckDefault"></td>
                        <td><textarea></textarea></td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input type="text" style="border: hidden; width:90%" /></td>
                        <td><input class="form-check-input ms-2" type="checkbox" value="" id="flexCheckDefault"></td>
                        <td><textarea></textarea></td>
                    </tr>


                </tbody>
            </table>

        </div>

    </form>
</section>



