
@{
    ViewBag.Title = "CategoriesList";
    Layout = "~/Views/Shared/_LayoutStockManagement.cshtml";
}

<section class="section">
    <h4 class="text-center">Danh sách danh mục thiết bị</h4>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="~/Views/Categories/CategoriesList.cshtml">Danh sách danh mục thiết bị</a></li>
        </ol>
    </nav>
    <form class="mt-5">

        <div class="card">
            <div class="mt-4 ms-3">
                <a class="btn btn-primary" href="@Url.Action("CreateNewCategory", "Categories")">Thêm danh mục mới</a>
                <button type="button" class="btn btn-primary ms-2">
                    Xuất
                    Excel
                </button>
            </div>
            <div class="card-body">
                <table class="table table-bordered mt-5">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã danh mục</th>
                            <th>Tên danh mục</th>
                            <th>SL thiết bị</th>
                            <th>Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>
                                <input placeholder="Search...">
                            </td>
                            <td>
                                <input placeholder="Search...">
                            </td>
                            <td></td>
                            <td></td>
                        <tr>
                            <th scope="row">1</th>
                            <td>RB-1</td>
                            <td>Robot</td>
                            <td>4</td>
                            <td>
                                <a class="btn btn-success mx-1" href="@Url.Action("CategoryDetail", "Categories")"><i class="fas fa-info-circle"></i></a>
                                <button class="btn btn-primary mx-3"><i class="far fa-edit"></i></button>
                                <button class="btn btn-danger "><i class="fas fa-trash-alt"></i></button>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>RB-1</td>
                            <td>Robot</td>
                            <td>4</td>
                            <td>
                                <a class="btn btn-success mx-1" href="@Url.Action("CategoryDetail", "Categories")"><i class="fas fa-info-circle"></i></a>
                                <button class="btn btn-primary mx-3"><i class="far fa-edit"></i></button>
                                <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>RB-1</td>
                            <td>Robot</td>
                            <td>4</td>
                            <td>
                                <a class="btn btn-success mx-1" href="@Url.Action("CategoryDetail", "Categories")"><i class="fas fa-info-circle"></i></a>
                                <button class="btn btn-primary mx-3"><i class="far fa-edit"></i></button>
                                <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>

    </form>
</section>
