
@{
    ViewBag.Title = "ImportEquipmentsProposalsDetail";
    Layout = "~/Views/Shared/_LayoutStockManagement.cshtml";
}

<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#general_infor" class="nav-link active" role="tab" data-toggle="tab">Thông tin chung</a>
        </li>
        <li class="nav-item">
            <a href="#detail" class="nav-link" role="tab" data-toggle="tab">Thông tin chi tiết</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="general_infor">
            <h4 class="card-title text-center">Thông tin chung</h4>
            <div class="row mb-3">
                <label class=" col-form-label" for="inputName5">Mã phiếu nhập</label>
                <div>
                    <input type="text" class="form-control" id="inputText">
                </div>
            </div>
            <div class="row mb-3">
                <label class=" col-form-label" for="inputName5">Người cung cấp</label>
                <div>
                    <input type="text" class="form-control" id="inputText">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-form-label">Ngày tạo đơn</label>
                <div>
                    <input type="date" class="form-control">
                </div>
            </div>

            <div class="row mb-3">
                <label class=" col-form-label">Ngày nhập</label>
                <div>
                    <input type="date" class="form-control">
                </div>
            </div>

            <div class="row mb-3">
                <label class=" col-form-label">Trạng thái phê duyệt</label>
                <div>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="row mb-3">
                <label class=" col-form-label">Người phê duyệt</label>
                <div>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="row mb-3">
                <label class=" col-form-label">Ngày phê duyệt</label>
                <div>
                    <input type="date" class="form-control">
                </div>
            </div>

            <div class="row mb-3">
                <label class=" col-form-label">Tổng số thiết bị</label>
                <div>
                    <input type="number" class="form-control">
                </div>
            </div>

            <div class="row mb-3">
                <label class=" col-form-label">Dự án yêu cầu</label>
                <div>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1">Dự án 1</option>
                        <option value="2">Dự án 2</option>
                        <option value="3">Dự án 3</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class=" col-form-label">Phân loại</label>
                <div>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1">Nhập thiết bị theo dự án</option>
                        <option value="2">Nhập thiết bị bổ sung</option>
                        <option value="3">Nhập thiết bị khác</option>
                    </select>
                </div>
            </div>



            <label class=" col-form-label">Yêu cầu nhập hàng</label>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Yêu cầu nhập hàng" id="floatingTextarea"></textarea>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="detail">
            <h4 class="card-title text-center mb-3">Thông tin chi tiết</h4>
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-success mb-3"><i class="far fa-save" style="color: #ffffff;"></i>  Lưu</a>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã quản lý</th>
                                <th scope="col">Tên thiết bị</th>
                                <th scope="col">Thông số kĩ thuật</th>
                                <th scope="col">Đơn vị tính</th>
                                <th scope="col">Nhóm thiết bị</th>
                                <th scope="col">Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><a class="btn btn-primary" href="@Url.Action("CreateNewEquipment", "Equipments")">Tạo thiết bị mới</a></td>
                            <tr>
                            <tr>
                                <th scope="row">2</th>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><a class="btn btn-primary" href="@Url.Action("CreateNewEquipment", "Equipments")">Tạo thiết bị mới</a></td>
                            <tr>
                            <tr>
                                <th scope="row">3</th>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><a class="btn btn-primary" href="@Url.Action("CreateNewEquipment", "Equipments")">Tạo thiết bị mới</a></td>
                            <tr>
                            <tr>
                                <th scope="row">4</th>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><input type="text" style="border: hidden; width: 80%"></td>
                                <td><a class="btn btn-primary" href="@Url.Action("CreateNewEquipment", "Equipments")">Tạo thiết bị mới</a></td>
                            <tr>
                        </tbody>
                    </table>

                    <div>
                        <a class="btn btn-success">Duyệt đơn</a>
                        <a class="btn btn-danger">Duyệt đơn</a>

                    </div>
                    <div class="input-group mt-3">
                        <span class="input-group-text bg-success" style="color:white">Ghi chú duyệt đơn</span>
                        <textarea class="form-control" aria-label="Ghi chú duyệt đơn"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

